body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    font-size: 1rem;

}

button {
    color: #FFFFFF;
    background-color: crimson;
    border-radius: 8%;
    border: solid 2px #FFFFFF;
    margin: 20px;
    padding: 10px;
}

.showDiv{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showDiv button{

    height: 100px;
    width: 100px;
}

.batman{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background-color: rgb(223, 81, 105);
    color: purple;
    border: solid 5px #FFFFFF;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    
}